{% extends 'base.html.twig' %}

{% block title %}Administration{% endblock %}
{% block body %}
    <section class="container">
        <header class="hstack pb-2 mb-2 border-bottom">
            <a href="/agent" class="align-items-center text-dark text-decoration-none">
                <span class="fs-4">Gestion des Agents</span>
            </a>
            <a href="{{ path('app_agent_index') }}" class="btn btn-sm fs-7 btn-success ms-auto">Liste des Agents</a>
            <a href="{{ path('app_affecter_liste') }}" class="btn btn-sm fs-7 btn-warning ms-auto"><b>Affecter Agents</b></a>
        </header>
        <div class="row">
            <div class="col-10 shadow border border-light">
                <nav class="navbar navbar-light bg-light my-2">
                    <div class="container-fluid">
                        <span class="navbar-brand mb-0 h1">Ajout Agent</span>
                    </div>
                </nav>
                <div class="container">
                    {{ form_start(agentForm) }}
                        {{ form_row(agentForm.matricule) }}<br>
                        {{ form_row(agentForm.nom) }}<br>
                        {{ form_row(agentForm.prenom) }}<br>
                        {{ form_row(agentForm.adresse) }}<br>
                        {{ form_row(agentForm.telephone) }}<br>
                        {{ form_row(agentForm.email) }}<br>
                        {{ form_row(agentForm.photo) }}<br>
                        <label>Agence</label>
                        <select name="agence">
                            {% for ag in agence %}
                            <option value='{{ ag.id }}'>{{ ag.nom }}</option>
                            {% endfor %}
                        <select>
                    {{ form_end(agentForm) }}          
                </div>
            </div>
            
        </div>
    </section>
{% endblock %}
