{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}

<section class="container my-3">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4 bg-warning rounded py-4">
            <form method="post">
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                {% if app.user %}
                    <div class="mb-3">
                        Vous êtes connecté en tant que {{ app.user.login }}, <a href="{{ path('app_logout') }}">Se déconnecter</a>
                    </div>
                {% endif %}

                <h1 class="h3 mb-3 font-weight-normal">Connexion</h1>
                <label for="inputUsername">Identifiant</label>
                <input type="text" value="{{ last_username }}" name="login" id="inputUsername" class="form-control" autocomplete="login" required autofocus>
                <label for="inputPassword">Mot de passe</label>
                <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

                <input type="hidden" name="_csrf_token"
                    value="{{ csrf_token('authenticate') }}"
                >

                {#
                    Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                    See https://symfony.com/doc/current/security/remember_me.html

                    <div class="checkbox mb-3">
                        <label>
                            <input type="checkbox" name="_remember_me"> Remember me
                        </label>
                    </div>
                #}

                <button class="btn btn btn-primary mt-3" type="submit">Se connecter</button>
                <a href="{{ path('app_register') }}" class="btn btn-warning btn mt-3">S'inscrire</a>
                <div align="right">
                    <a href="{{ path('app_forgot_password_request') }}" class="fs-7 text-danger m-0">Mot de pass oublié</a>
                </div>
            </form>
        </div>
    </div>
</section>
{% endblock %}
