{% extends 'base.html.twig' %}

{% block title %}Accueil
{% endblock %}
{% block body %}
	<style>
		.p0_title {
			border:1px solid #ccc;
			fon-weight:bold;
		}
	</style>
	{% if app.user and app.user.isverified %}
		<!-- ========== title-wrapper start ========== -->
		<div class="title-wrapper pt-10">

			<ul class="nav nav-tabs mb-4 border-bottom border-dark border-2">
				<li class="nav-item bg-warning mx-1 rounded-top mb-0 mt-1">
					<a class="nav-link text-dark" aria-current="page" href="{{ path('main', {'dash_page': 'perso'}) }}">Mon espace personnel</a>
				</li>
				{% if  app.user.roles[0] != "ROLE_PUBLIC" %}
				<li class="nav-item bg-dark rounded-top mx-1 mb-0 mt-1">
					<a class="nav-link fw-bold text-light" href="{{ path('main', {'dash_page': 'stat_dem'}) }}">Statistiques sur les demandes</a>
				</li>
				<li class="nav-item bg-warning rounded-top mx-1 mb-0 mt-1">
					<a class="nav-link text-dark" href="{{ path('main', {'dash_page': 'stat_paye'}) }}">Statistiques sur les paiements</a>
				</li>
				<li class="nav-item bg-warning rounded-top mx-1 mb-0 mt-1">
					<a class="nav-link text-dark" href="{{ path('stat') }}">Consultation des demandes</a>
				</li>
				{% endif %}
			</ul>

			<div class="row m-1 mt-4 pt-2">
				<h5 class="text-dark fw-light pb-2 border-bottom border-secondary border-2">Demandes par type d'usage et passage visite</h5>
			</div>
			<div class="row">
				{# 
				TAB STAT 
				----------------------------------------------------------------------------------------------- #}
				<div class="col-lg-4">
					<div class="mt-2">
						<div class="card bg-dark p-2 card-stat">
							<div class="un-stat d-flex">
								<div class="">
									<p class="mb-1 pt" data-bs-toggle="modal" data-bs-target="#modal2" href="{{ path('main_demandepop', {'restr': 'All'}) }}" title="Afficher la liste des demandes">
										<span class="number mb-0 fs-7 badge badge-warning">{{ les_stat["All"] }}</span>
										<span class="text-light fw-light">Total des demandes</span>
									</p>
								</div>
							</div>
						</div>
					</div>
					<!-- end col -->
					<div class="mt-2">
						<div class="card bg-warning p-2 card-stat">
							<div class="un-stat d-flex">
								<div class="">
									<p class="mb-1 pt" data-bs-toggle="modal" data-bs-target="#modal2" href="{{ path('main_demandepop', {'restr': 'Domestiques'}) }}" title="Afficher la liste des demandes">
										<span class="number mb-0 fs-7 badge badge-success">{{ les_stat["Domestiques"] }}</span>
										<span class="fw-light">Demandes domestiques</span>
									</p>
								</div>
							</div>
						</div>
					</div>
					<div class="mt-2">
						<div class="card bg-primary bg-opacity-75 p-2 card-stat">
							<div class="un-stat d-flex">
								<div class="">
									<p class="mb-1 pt" data-bs-toggle="modal" data-bs-target="#modal2" href="{{ path('main_demandepop', {'restr': 'Professionnelles'}) }}" title="Afficher la liste des demandes">
										<span class="number mb-0 fs-7 badge badge-success">{{ les_stat["Professionnelles"] }}</span>
										<span class="fw-light text-dark">Demandes professionnelles</span>
									</p>
								</div>
							</div>
						</div>
					</div>
					<div class="mt-2">
						<div class="card bg-primary p-2 card-stat">
							<div class="un-stat d-flex">
								<div class="">
									<p class="mb-1 pt" data-bs-toggle="modal" data-bs-target="#modal2" href="{{ path('main_demandepop', {'restr': 'ERP - ERT'}) }}" title="Afficher la liste des demandes">
										<span class="number mb-0 fs-7 badge badge-success">{{ les_stat["ERP - ERT"] }}</span>
										<span class="fw-light text-light">Demandes ERP - ERT</span>
									</p>
								</div>
							</div>
						</div>
					</div>
					<div class="mt-4">
						<div class="card bg-vertf p-2 card-stat">
							<div class="un-stat d-flex">
								<div class="">
									<p class="mb-1 pt" data-bs-toggle="modal" data-bs-target="#modal2" href="{{ path('main_demandepop', {'restr': '1ère visite'}) }}" title="Afficher la liste des demandes">
										<span class="number mb-0 fs-7 badge badge-success">{{ les_stat["1ère visite"] }}</span>
										<span class="fw-light text-light">Demandes en 1ère visite</span>
									</p>
								</div>
							</div>
						</div>
					</div>
					<div class="mt-2">
						<div class="card bg-rougef2 p-2 card-stat">
							<div class="un-stat d-flex">
								<div class="">
									<p class="mb-1 pt" data-bs-toggle="modal" data-bs-target="#modal2" href="{{ path('main_demandepop', {'restr': '2e visite'}) }}" title="Afficher la liste des demandes">
										<span class="number mb-0 fs-7 badge badge-success">{{ les_stat["2e visite"] }}</span>
										<span class="fw-light text-light">Demandes en 2e visite</span>
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				{# 
				GRAPHIQUE STAT 
				----------------------------------------------------------------------------------------------- #}
				<div class="col-lg-4" align="center">
					<div id="pieC" class="p-2 mt-2 shadow border" align="center"></div>
				</div>
				<div class="col-lg-4" align="center">
					<div id="pieC2" class="p-2 mt-2 shadow border" align="center"></div>
				</div>
				{# ------------------- #}
				</div>
			</div>
			<!-- end col -->
			
			<div class="row m-1 mt-4 pt-2">
				<h5 class="text-dark fw-light pb-2 border-bottom border-secondary border-2">Demandes par état de traitement</h5>
			</div>
			<!-- end col -->
			<div class="row">
				<div class="col-lg-4">
					<div class="row">

						{# {% set les_etat = ["Soumis"] %}
						{% set les_col = ["danger"] %}
						
						{% if is_granted('ROLE_CAISSIER') or is_granted('ROLE_COMPTABLE') or is_granted('ROLE_DAF') %}
							{% set les_etat = ["Paiement enregistré", "Paiement validé"] %}
							{% set les_col = ["primary bg-opacity-25", "success bg-opacity-25"] %}
						{% endif %}

						{% if is_granted('ROLE_RFO') %}
							{% set les_etat = ["Dossier validé"] %}
							{% set les_col = ["success bg-opacity-25", ] %}
						{% endif %}

						{% if is_granted('ROLE_CONTROLEUR') %}
							{% set les_etat = ["Dossier affecté", "Visite planifiée", "Rapport élaboré", "Rapport validé"] %}
							{% set les_col = [ "light", "red", "primary bg-opacity-75", "green"] %}
						{% endif %}

						{% if is_granted('ROLE_REFERENT') %}
							{% set les_etat = ["Dossier validé", "Dossier affecté", "Visite planifiée", "Rapport élaboré", "Rapport validé"] %}
							{% set les_col = ["info", "dark bg-opacity-50", "red", "primary bg-opacity-75", "green"] %}
						{% endif %}
						
						{% if is_granted('ROLE_ADMIN') %} #}
							{% set les_etat = ["Soumis","Paiement enregistré", "Paiement validé","Dossier validé", "Dossier affecté", "Visite planifiée", "Rapport élaboré", "Rapport validé"] %}
							{% set les_col = ["danger", "primary bg-opacity-25", "success bg-opacity-25", "info", "dark bg-opacity-50", "red", "primary bg-opacity-75", "green"] %}
						{# {% endif %} #}

						{% set ix = 0 %}
						{% for etat in les_etat  %}
							{% set col = les_col[ix] %}
							<div class="mt-2">
								<div class="card bg-{{col}} p-2 card-stat">
									<div class="un-stat d-flex">
										<div class="">
											<p class="mb-1 pt" data-bs-toggle="modal" data-bs-target="#modal2" href="{{ path('main_demandepop', {'restr': etat}) }}" title="Afficher la liste des demandes">
												<span class="number mb-0 fs-7 badge badge-danger">{{ les_stat[etat] }}</span>
												<span class="fw-light">{{etat}}</span>
											</p>
											
										</div>
									</div>
								</div>
							</div>
							{% set ix = ix+1 %}
						{% endfor %}
					</div>
				</div>
				<div class="col-lg-6">
					<div id="pieC3" class="p-2 mt-2 shadow border" align="center"></div>
				</div>
			</div>
			<!-- end row -->

			<hr />
			<div class="row mt-2">
				<div class="col-md-3 mt-2">
					<div class="card bg-red p-2 card-stat">
						<div class="un-stat d-flex">
							<div class="">
								<p class="mb-1 pt" data-bs-toggle="modal" data-bs-target="#modal2" href="{{ path('main_demandepop', {'restr': 'Hors délais 5 jours'}) }}" title="Afficher la liste des demandes">
									<span class="number mb-0 fs-7 badge badge-warning">
										{{ les_alerte["Hors délais 5 jours"] }}
									</span>
									<span class="text-light fw-light">Dossiers Hors délais 5j</span>
								</p>
							</div>
						</div>
					</div>
				</div>

				<div class="col-md-3 mt-2">
					<div class="card bg-rougef p-2 card-stat">
						<div class="un-stat d-flex">
							<div class="">
								<p class="mb-1 pt" data-bs-toggle="modal" data-bs-target="#modal2" href="{{ path('main_demandepop', {'restr': 'Hors délais 15 jours'}) }}" title="Afficher la liste des demandes">
									<span class="number mb-0 fs-7 badge badge-warning">
										{{ les_alerte["Hors délais 15 jours"] }}
									</span>
									<span class="text-light fw-light">Dossiers Hors délais 15j</span>
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>

			{% if is_granted('ROLE_ADMIN') %}
			<div class="row mt-50">
				<div class="offset-1 col-md-10">
					<div class="card">
						<div class="d-flex align-items-center justify-content-between">
							<h4 class="fw-bold">Demandes en préparation ({{ les_install.getTotalItemCount }})</h4>
						</div>
						<span class="divider">
							<hr></span>
            	{% if les_install|length == 0 %}
                <div class="row pt-20">
                    <div class="col-3"></div>
                    <div class="col-6">
                        <div class="alert alert-warning d-flex align-items-center" role="alert">
                            <div>
                                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 24 24">
                                    <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
                                </svg>
                                Aucun enregistrement trouvé !
                            </div>
                        </div>
                    </div>
                </div>
				{% else %}
				<table class="table table-striped table-hover table-sm pt-0 mt-0">
				<thead>
					<tr>
						<th scope="col">N° demande</th> 
						<th class="priority-3">Usage</th> 
						<th>Localité</th>
						<th>Type Construction</th>
						<th>Statut demande</th>
						{# <th scope="col">Agence</th> #}
						{# <th class="text-center" scope="col">Départements</th>  #}
					</tr>
				</thead>
				<tbody>
					{% for ag in les_install %}
						{% if ag.step < 7 %}
							{% set badge_etat = "danger" %}
						{% endif %}
						{% if ag.step <= 7 %}
							{% set badge_etat = "warning" %}
						{% endif %}
						<tr>
							<td scope="row" class="fw-bold">
								{% if ag.demandeCourante %}
										{{ ag.demandeCourante.numero }}
								{% else %}
										<span>[{{ ag.createdAt|date("d/m/y_H:i:s") }}]</span>
								{% endif %}
							</td>
							<td>
                            {% if ag.usages == "domestique" %}
                                <span class="text-warning fs-8 fw-bold">Domestique</span>
                            {% elseif ag.usages == "non_domestique" %}
                                <span class="text-primary fs-8 fw-bold">Professionnel</span>
                            {% elseif ag.usages == "erp_ert" %}
                                <span class="text-primary fs-8 fw-bold">ERP - ERT</span>
                            {% endif %}
							</td>
							<td>
								{% if ag.localite is not null %}
									{{ ag.localite.nom }}
								{% else %}
									<span class="text-danger">-</span>
								{% endif %}
							</td>
							<td>
								{% if ag.typeconstruction is not null %}
									{{ ag.typeconstruction.nom }}
								{% else %}
									<span class="text-danger">-</span>
								{% endif %}
							</td>
							<td>
									<span class="pt badge badge-info fs-8">{{ ag.etat }}</span>
							</td>
							{# <td>{{ ag.agence }}</td> #}
							{# <td class="text-center">
								{% if reg.departement.count >0 %}
									<span class="badge bg-success text-light rounded-pill fw-normal">{{ reg.departement.count }}</span>
								{% else %}
									<code class="text-danger text-opacity-50">Aucun département</code>
								{% endif %}
							</td> #}
						</tr>
					{% endfor %}
				</tbody>
				</table>


                {% do les_install.setPageRange(1)%}
                {{ knp_pagination_render(les_install, 'pagination.html.twig')}}

				{% endif %}
					</div>

				</div>
			</div>
			{% endif %}

		</div>
		<!-- ========== title-wrapper end ========== -->
	{% else %}
		<div class="col-8 mt-5 offset-2 alert alert-danger fs-4 text-center">
			Votre adresse email n'a pas encore été confirmée !
			Veuillez cliquer sur le lien envoyé sur votre boite mail pour valider votre inscription !
		</div>
	{% endif %}

{% endblock %}

{% block javascripts %}

{% set les_etat = ["Soumis","Paiement enregistré", "Paiement validé","Dossier validé", "Dossier affecté", "Visite planifiée", "Rapport élaboré", "Rapport validé"] %}
{% set les_col = ["#d83444", "#b5cbf1", "#b8d0c7", "#13c5ea", "#e1501e", "#508bf6", "#508bf6", "#4b9f47"] %}

<script>
    $(document).ready(function () {

        var pieC = new d3pie("pieC", {
            "header": {
                "title": {
                    "text": "Répartition des demandes par usage",
                    "fontSize": 14,
                    "font": "verdana"
                },
            },
            "size": {
                "canvasWidth": 400,
                "canvasHeight": 300,
                "pieOuterRadius": "70%"
            },
            "data": {
                "content": [
                    {
                        "label": "Domestique",
                        "value": {{ les_stat["Domestiques"] }},
                        "color": "#febf04"
                    },
                    {
                        "label": "Professionnel",
                        "value": {{ les_stat["Professionnelles"] }},
                        "color": "#508af5"
                    },
                    {
                        "label": "ERP - ERT",
                        "value": {{ les_stat["ERP - ERT"] }},
                        "color": "#0b6efc"
                    }
                ]
            },
			"labels": {
				"mainLabel": {
					"font": "verdana",
					"fontSize":"12"
				},
				"percentage": {
					"color": "#000000"
				}
			}
        });

        var pieC2 = new d3pie("pieC2", {
            "header": {
                "title": {
                    "text": "Répartition par passage de visite",
                    "fontSize": 14,
                    "font": "verdana"
                },
            },
            "size": {
                "canvasWidth": 400,
                "canvasHeight": 300,
                "pieOuterRadius": "70%"
            },
            "data": {
                "content": [
                    {
                        "label": "1ère visite",
                        "value": {{ les_stat["1ère visite"] }},
                        "color": "#196110"
                    },
                    {
                        "label": "2e visite",
                        "value": {{ les_stat["2e visite"] }},
                        "color": "#825454"
                    },
                ]
            },
			"labels": {
				"mainLabel": {
					"font": "verdana",
					"fontSize":"12"
				},
				"percentage": {
					"color": "yellow"
				}
			}
        });

        var pieC3 = new d3pie("pieC3", {
            "header": {
                "title": {
                    "text": "Répartition des demandes par etat de traitement",
                    "fontSize": 14,
                    "font": "verdana"
                },
            },
            "size": {
                "canvasWidth": 500,
                "canvasHeight": 400,
                "pieOuterRadius": "80%"
            },
            "data": {
                "content": [
				{% set ix = 0 %}
				{% for etat in les_etat  %}
					{% set col = les_col[ix] %}
						{
							"label": "{{etat}}",
							"value": {{ les_stat[etat] }},
							"color": "{{col}}"
						}
					{% if ix<les_etat|length %}
						,
					{% endif %}
					{% set ix = ix+1 %}
				{% endfor %}
                ]
            },
			"labels": {
				"mainLabel": {
					"font": "verdana",
					"fontSize":"12"
				},
				"percentage": {
					"color": "#000000"
				}
			}
        });


    });
</script>

{% endblock %}
