{% extends 'base.html.twig' %}
{% block title %}COSSUEL{% endblock %}
{% block body %}
    <section class="">
        <div class="row">
            <div class="card">
                <div class="d-flex align-items-center justify-content-between">
                    <h4 class="fw-bold">Gestion des utilisateurs</h4>
                    {% if is_granted('ROLE_ADMIN') %}
                    <a href="{{ path('app_utilisateur_add') }}" class="btn btn-primary btn">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z"></path>
                        </svg>
                        Nouvel Utilisateur
                    </a>
                    {% endif %}
                </div>
                <span class="divider">
                    <hr></span>
            <div align="right" class="row fs-5 mt-0 pt-0 caption fw-light priority-3" style="height:0px; position:relative; top:4px;">
                <div class="col-2 offset-7 fs-6 border-bottom">
                    <select name="val_profil0" id="val_profil0" class="form-select form-select-sm border-warning py-1">
                        <option value="">Tous les profils ...</option>
                        {% for obj in les_profil %}
                            <option value="{{obj.id}}" {% if obj.id == val_profil %} selected="selected"{% endif %}>{{obj.nom}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-2 fs-6 border-bottom"><input class="py-1 border-dark bg-light mb-1 form-control form-control-sm" type="text" placeholder="Rechercher ..." id="val_rech0" name="val_rech0" value="{% if val_rech is defined %}{{ val_rech }}{% endif %}" /></div>
                <div class="col-1" align="center">
                    <svg class="bi" width="28" height="28" fill="#c32424">
                        <use xlink:href="{{ asset('assets/img/bootstrap-icons.svg#filetype-pdf') }}"></use>
                    </svg>
                </div>
            </div>
            {% if les_utilisateur|length == 0 %}
                <br />
                <div class="row pt-20">
                    <div class="col-3"></div>
                    <div class="col-6">
                        <div class="alert alert-warning d-flex align-items-center" role="alert">
                            <div>
                                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 24 24">
                                    <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
                                </svg>
                                Aucun enregistrement trouvé !
                            </div>
                        </div>
                    </div>
                </div>
            {% else %}
            <table class="table table-striped table-hover table-sm pt-0 mt-0">
            <caption align="top" class="fs-5 mt-0 pt-0">Liste des utilisateurs ({{ les_utilisateur.getTotalItemCount }})</caption>
            <thead>
                <tr>
                    <th scope="col">Type</th> 
                    <th class="priority-1">Identifiant</th> 
                    <th class="priority-3">Nom et Prénoms</th> 
                    <th class="priority-5">Email</th>
                    <th class="priority-4">Téléphone</th>
                    {# <th scope="col">Agence</th> #}
                    {# <th class="text-center" scope="col">Départements</th>  #}
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {% for ag in les_utilisateur %}
                    <tr>
                        <td scope="row"><a href="{{ path('app_utilisateur_show', {'id': ag.id }) }}" class="text-dark text-decoration-none fw-bold">{{ ag.type }}</a></td>
                        <td class="priority-1">{{ ag.login }}</td>
                        <td class="priority-3">{{ ag.nom }} {{ ag.prenom }}</td>
                        <td class="priority-5">{{ ag.email }}</td>
                        <td class="priority-4">{{ ag.telephone }}</td>
                        {# <td>{{ ag.agence }}</td> #}
                        {# <td class="text-center">
                            {% if reg.departement.count >0 %}
                                <span class="badge bg-success text-light rounded-pill fw-normal">{{ reg.departement.count }}</span>
                            {% else %}
                                <code class="text-danger text-opacity-50">Aucun département</code>
                            {% endif %}
                        </td> #}
                        <td class="text-end">
                            <a href="{{ path('app_utilisateur_show', {'id': ag.id }) }}" class="mx-1" title="Afficher les détails">
                                <svg class="bi" width="16" height="16" fill="black">
                                    <use xlink:href="{{ asset('assets/img/bootstrap-icons.svg#search') }}"></use>
                                </svg>
                            </a>
                            {% if is_granted('ROLE_ADMIN') %}
                            <a href="{{ path('app_utilisateur_edit', {'id': ag.id }) }}" class="mx-1" title="Modifier">
                                <svg class="bi" width="16" height="16" fill="black">
                                    <use xlink:href="{{ asset('assets/img/bootstrap-icons.svg#pencil-square') }}"></use>
                                </svg>
                            </a>
                            {% endif %}
                            {% if is_granted('ROLE_ADMIN') and 0 %}
                            <a href="" class="mx-1" title="Supprimer">
                                <svg class="bi" width="16" height="16" fill="red">
                                    <use xlink:href="{{ asset('assets/img/bootstrap-icons.svg#trash') }}"></use>
                                </svg>
                            </a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
            </table>

                {% do les_utilisateur.setPageRange(1)%}
                {{ knp_pagination_render(les_utilisateur, 'pagination.html.twig')}}

            {% endif %}
        </div>
    </section>
{% endblock %}


{% block javascripts %}
<script>
    $(document).ready(function () {

        {% for filtre in ["profil"] %}
            $('#val_{{filtre}}').val($('#val_{{filtre}}0').val())
            $('#val_{{filtre}}0').on('change', function() {
                optSel=$('#val_{{filtre}}0').find("option:selected");
                valSel=optSel.val();
                $('#val_{{filtre}}').val(valSel);
                $('#form_rech_list').submit();
            });
        {% endfor %}
    });
</script>
{% endblock %}