<!DOCTYPE html>
<html lang="fr">
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		{# <link rel="shortcut icon" href="{{ asset('assets/img/favicon.svg') }}" type="image/x-icon" /> #}
		<link rel="shortcut icon" href="{{ asset('assets/img/bootstrap-icons.svg') }}" type="image/x-icon" />

		<!-- Bootstrap CSS -->
		<link href="{{ asset('assets/css/bootstrap.min.css') }}" rel="stylesheet" />
		<link rel="stylesheet" href="{{ asset('assets/css/lineicons.css') }}" />
		<link rel="stylesheet" href="{{ asset('assets/css/style.css') }}" />
		<link rel="stylesheet" href="{{ asset('assets/css/c3.min.css') }}" />
		<!-- Styles CSS -->
		{% block stylesheets %}{% endblock %}

		<title>
			{% block title %}Welcome! {% endblock %}
		</title>
	</head>
	<body>
	    {% if app.user %}
			{% include "include/_menu.html.twig" %}
			<!-- ======== main-wrapper start =========== -->
			<main class="main-wrapper">
			{% include "include/_header.html.twig" %}
				<!-- ========== section start ========== -->
				<section class="section">
					<div class="container-fluid pt-4">
		{% endif %}

		{% set les_route0 = [
			"app_login",
			"app_resetpass",
			"app_forgot_password_request",
			"app_register",
			"app_reset_password",
			"app_verify_email",
			"app_register_ok",
			"app_register_confirm",
			"app_register_confirm2",
		] %}
		{% if app.user or (app.request.get('_route') in les_route0) %}
			{% if val_rech is defined %}
				{% include "include/_search_liste.html.twig" %}
			{% endif %}
			
			{% block body %}{% endblock %}
		{% endif %}

	    {% if app.user %}
					</div>
				</section>
				<!-- ========== section end ========== -->
				<!-- ========== footer start =========== -->
				<footer class="footer">
					<div class="container-fluid">
						<div class="row">
							<div class="col-md-12 order-last order-md-first">
								<div class="copyright text-center text-md-start">
									<p class="small">
										&copy;
										<a href="https://kangameconsulting.com" rel="nofollow" target="_blank"> KGM Consulting </a>
									</p>
								</div>
							</div>
							<!-- end col-->
						</div>
						<!-- end row -->
					</div>
					<!-- end container -->
				</footer>
				<!-- ========== footer end =========== -->
			</main>
			<!-- ======== main-wrapper end =========== -->
			{% include "include/_footer.html.twig" %}
		{% endif %}

		{# read and display all flash messages #}
		{% for label, messages in app.flashes %}
			{% for message in messages %}
			{% if label=="notice" %} 
				{% set label="warning" %}
			{% endif %}
				<div class="col-4 p-2 m-2 mb-5 pe-4 right alert alert-{{ label }} alert-dismissible fade show position-fixed bottom-0 end-0" role="alert">
					{{ message }}
				<button type="button" class="btn-close my-1 py-2" data-bs-dismiss="alert" aria-label="Close"></button>
				</div>
			{% endfor %}
		{% endfor %}

		{# Modal Dialog #}
		<!-- Modal -->
		<div class="modal fade" id="modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-body">
					...
				</div>
			</div>
		</div>
		</div>

		<!-- Modal -->
		<div class="modal fade modalXX" id="modal2" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-body">
					...
				</div>
			</div>
		</div>
		</div>

	</body>
</html>
{% block javascripts %}{% endblock %}
