{% extends 'base.html.twig' %}

{% block title %}COSSUEL{% endblock %}
{% block body %}
    <div class="row-fluid">
        <ul class="nav nav-pills mb-4 pb-2 border-bottom border-dark">
            <li class="nav-item">
                <a class="nav-link" href="{{ path('app_electricien_index') }}">Electriciens installateurs</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Propriétaires d'installation</a>
            </li>
        </ul>
    </div>
    <section class="">
        <header class="hstack pb-2 mb-2 border-bottom">
            <a href="/proprietaire" class="align-items-center text-dark text-decoration-none">
                <span class="fs-4">Gestion des propriétaires</span>
            </a>
            <a href="{{ path('app_proprietaire_index') }}" class="btn btn-sm fs-7 btn-secondary ms-auto">Liste des Propriétaires</a>
        </header>
        <div class="row">
        {% set offset="offset-md-3" %}            
        {% if les_proprietaire|length %}
        {% set offset="" %}            
            <div class="col-5 bg-body shadow bg-light card0 me-4 p-3 priority-4">
                <table class="table table-striped table-hover table-sm pt-0 mt-0">
                <caption align="top" class="fs-5 mt-0 pt-0">
                    Liste des propriétaires ({{ les_proprietaire|length }})
                </caption>
                <thead>
                    <tr>
                        <th>Téléphone</th> 
                        <th scope="col">Nom</th> 
                        <th scope="col">Prénom</th> 
                        {# <th scope="col" width="1%" align="center">Propriétaires</th>  #}
                    </tr>
                </thead>
                <tbody>
                    {% for reg in les_proprietaire %}
                        {% set cur='' %}
                        {% if proprietaire is defined and proprietaire.id==reg.id %}
                            {% set cur='bg-warning text-dark bg-opacity-25' %}
                        {% endif %}
                        <tr class="{{ cur }}">
                            <td scope="row"><a href="{{ path('app_proprietaire_show', {'id': reg.id }) }}" class="text-dark text-decoration-none fw-bold">{{ reg.telephone }}</a></td>
                            <td><a href="{{ path('app_proprietaire_show', {'id': reg.id }) }}" class="text-dark text-decoration-none">{{ reg.nom }}</a></td>
                            <td><a href="{{ path('app_proprietaire_show', {'id': reg.id }) }}" class="text-dark text-decoration-none">{{ reg.prenom }}</a></td>
                            {# <td align="center">
                            {% if reg.proprietaire.count >0 %}
                                <a href="{{ path('app_proprietaire_show', {'id': reg.id }) }}" class="badge bg-success text-decoration-none text-light rounded-pill fw-normal">{{ reg.proprietaire.count }}</a>
                            {% else %}
                                <code class="text-danger text-opacity-50">-</code>
                            {% endif %}
                            </td> #}
                        </tr>
                    {% endfor %}
                </tbody>
                </table>
            </div>
        {% endif %}
            <div class="{{ offset }} col-lg-6 mb-2 shadow border border-light card p-3">

                <div class="container">
                    <nav class="navbar bg-warning text-black border border-dark my-2 p-1">
                        <div class="container-fluid">
                            <span class="navbar-brand mb-0 h1">Ajout Proprietaire</span>
                        </div>
                    </nav>
                    <div class="container">
                            {{ form_start(proprietaireForm) }}
                            <div class="row">
                                <div class="col-5">
                                    {{ form_row(proprietaireForm.nom) }}
                                </div>
                                <div class="col-7">
                                    {{ form_row(proprietaireForm.prenom) }}
                                </div>
                                <div class="col-5">
                                    {{ form_row(proprietaireForm.localite) }}
                                </div>
                                <div class="col-7">
                                    {{ form_row(proprietaireForm.adresse) }}
                                </div>
                                <div class="col-5">
                                    {{ form_row(proprietaireForm.telephone) }}
                                </div>
                                <div class="col-7">
                                    {{ form_row(proprietaireForm.email) }}
                                </div>
                                <div class="col-5">
                                    {{ form_row(proprietaireForm.typePiece) }}
                                </div>
                                <div class="col-7">
                                    {{ form_row(proprietaireForm.numPiece) }}
                                </div>
                            </div>
                            <div align="center">
                                <a class="btn btn-secondary" href="{{ path('app_proprietaire_index') }}">Annuler</a>
                                <button type="submit" class="btn btn-primary btn my-3">Enregistrer</button>
                            </div>
                        {{ form_end(proprietaireForm) }}            
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
