{% extends 'base.html.twig' %}

{% block title %}Administration{% endblock %}
{% block body %}
    <section class="container">
        <header class="hstack pb-2 mb-2 border-bottom">
            <a href="/region" class="align-items-center text-dark text-decoration-none">
                <span class="fs-4">Gestion des Agences</span>
            </a>
            <a href="{{ path('app_region_index') }}" class="btn btn-sm fs-7 btn-success ms-auto">Liste des Régions</a>
        </header>
        <div class="row">
            <div class="col-12 shadow border border-light">
                <nav class="navbar navbar-light bg-light my-2">
                    <div class="container-fluid">
                        <span class="navbar-brand mb-0 h1"> Ajout Agence</span>
                    </div>
                </nav>
                <div class="container">
                    {{ form_start(agenceForm) }}
                        {{ form_row(agenceForm.code) }}<br>
                        {{ form_row(agenceForm.nom) }}<br>
                        {{ form_row(agenceForm.adresse) }}<br>
                        {{ form_row(agenceForm.telephone) }}<br>
                        {{ form_row(agenceForm.email) }}<br>
                    {{ form_end(agenceForm) }}            
                </div>
            </div>
        </div>
    </section>
{% endblock %}
