    <section class="">
        <div class="row">
            <div class="card">
                <div class="d-flex align-items-center justify-content-between">
                    <div>
                        <h4 class="fw-bold">Toutes les Demandes</h4>
                        <select name="val_affichage_demande" id="val_affichage_demande" class="bg-warning bg-opacity-50 form-select-sm">
                            <option {% if affichage == 'listing' %} selected="selected" {% endif %} value="listing">Affichage en Listing</option>
                            <option {% if affichage == 'bloc' %} selected="selected" {% endif %} value="bloc">Affichage en Blocs</option>
                        </select>
                    </div>
                </div>
                <span class="divider">
                    <hr></span>
            <div align="right" class="row fs-5 mt-0 pt-0 caption fw-light priority-4" style="height:0px; position:relative; top:4px;">
                <div class="col-2 offset-3 fs-6 border-bottom">
                    <select name="val_agence0" id="val_agence0" class="form-select form-select-sm border-warning py-1">
                        <option value="">Toutes les Agences ...</option>
                        {% for obj in les_agence %}
                            <option value="{{obj.id}}" {% if obj.id == val_agence %} selected="selected"{% endif %}>{{obj.nom}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-2 fs-6 border-bottom">
                    <select name="val_usage0" id="val_usage0" class="form-select form-select-sm border-warning py-1">
                        <option value="">Tous les Usages ...</option>
                        {% for obj, lib_obj in les_usage %}
                            <option value="{{obj}}" {% if obj == val_usage %} selected="selected"{% endif %}>{{lib_obj}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-2 fs-6 border-bottom">
                    <select name="val_statut0" id="val_statut0" class="form-select form-select-sm border-success py-1">
                        <option value="">Tous les statuts ...</option>
                        {% for obj in les_statut %}
                            <option value="{{obj}}" {% if obj == val_statut %} selected="selected"{% endif %}>{{obj}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-2 fs-6 border-bottom"><input class="py-1 border-dark bg-light mb-1 form-control form-control-sm" type="text" placeholder="Rechercher ..." id="val_rech0" name="val_rech0" value="{% if val_rech is defined %}{{ val_rech }}{% endif %}" /></div>
                <div class="col-1" align="center">
                    <svg class="bi pt" width="28" height="28" fill="#c32424">
                        <use xlink:href="{{ asset('assets/img/bootstrap-icons.svg#filetype-pdf') }}"></use>
                    </svg>
                </div>
            </div>
            {% if les_installation|length == 0 %}
                <br />
                <div class="row pt-20">
                    <div class="col-3"></div>
                    <div class="col-6">
                        <div class="alert alert-warning d-flex align-items-center" role="alert">
                            <div>
                                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 24 24">
                                    <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
                                </svg>
                                Aucun enregistrement trouvé !
                            </div>
                        </div>
                    </div>
                </div>
            {% else %}
            <div align="top" class="caption fs-5 mt-0 pt-0">Liste des Demandes ({{ les_installation.getTotalItemCount }})</div>

            {# Affichage des demandes en format card #}

            <div class="row mt-4">
                {% for ag in les_installation %}
                    {% set badge_etat = "danger" %}
                    {% if ag.step == 7 %}
                        {% set badge_etat = "warning" %}
                    {% elseif ag.step > 7 %}
                        {% set badge_etat = "success" %}
                    {% endif %}
                    {% set badge_usage = "warning" %}
                    {% set text_usage = "text-dark" %}
                    {% if ag.usages != "domestique" %}
                        {% set badge_usage = "primary text-light" %}
                        {% set text_usage = "text-light" %}
                    {% endif %}
                    <div class="col-lg-3 col-md-6">
                        <div class="card-orig border-dark mb-3">
                            <h5 class="card-header border-dark bg-{{badge_usage}} py-1 px-2 pt">
                                {% if ag.demandeCourante %}
                                    <a title="Afficher les détails la demande" class="text-decoration-none" href="{{ path('app_installation_show', {'id': ag.id }) }}">
                                        <span class="{{text_usage}}">Demande n° {{ ag.demandeCourante.numero }}</span>
                                    </a>
                                    <a target="_blank" title="Générer la demande en pdf" class="text-decoration-none float-end p-0 m-0" href="{{ path('app_installation_showpdf', {'id': ag.id }) }}">
                                    <svg class="bi pt" width="22" height="22" fill="white">
                                        <use xlink:href="{{ asset('assets/img/bootstrap-icons.svg#filetype-pdf') }}"></use>
                                    </svg>
                                    </a>
                                {% else %}
                                    <a class="text-decoration-none" href="{{ path('app_installation_show', {'id': ag.id }) }}">
                                        <span class="{{text_usage}}">Saisie [{{ ag.createdAt|date("d/m/y_H:i:s") }}]</span>
                                    </a>
                                {% endif %}
                            </h5>
                            <div class="card-body">
                                <h6 class="card-title">
                                    <a href="{{ path('app_installation_show', {'id': ag.id }) }}"><span class="badge fs-7 bg-{{badge_usage}}">{{ ag.usages }}</span></a>
                                    <a class="float-end" href="{{ path('app_installation_show', {'id': ag.id }) }}">
                                        <span class="badge badge-{{ badge_etat }} fs-7 px-1">
                                        {% if ag.step<=7 %}                                       
                                            {{ ag.etat }}
                                        {% else %}
                                            {{ ag.demandeCourante.etat }}
                                        {% endif %}
                                        </span>
                                    </a>
                                </h6>
                                <p class="card-text fs-7">
                                    {% if ag.electricien %}
                                    <div class="mb-2 border-0 text-muted" title="Electricien">
                                        <svg class="bi pt" width="22" height="22" fill="#036">
                                            <use xlink:href="{{ asset('assets/img/bootstrap-icons.svg#person') }}"></use>
                                        </svg>
                                        {{ ag.electricien.nomComplet  | length < 30 ? ag.electricien.nomComplet : ag.electricien.nomComplet|slice(0, 27) ~ '...'}}
									</div>
                                    {% endif %}
                                    {% if ag.proprietaire %}
                                    <div class="mb-2 border-0 text-muted" title="Propriétaire de l'installation">
                                        <svg class="bi pt" width="22" height="22" fill="gray">
                                            <use xlink:href="{{ asset('assets/img/bootstrap-icons.svg#person-check') }}"></use>
                                        </svg>
                                        {{ ag.proprietaire.nomComplet  | length < 30 ? ag.proprietaire.nomComplet : ag.proprietaire.nomComplet|slice(0, 27) ~ '...'}}
									</div>
                                    {% endif %}
                                    <div class="mb-2 border-0 text-muted" title="Localisation installation">
                                        <svg class="bi pt" width="20" height="20" fill="#6d0d2b">
                                            <use xlink:href="{{ asset('assets/img/bootstrap-icons.svg#geo-alt') }}"></use>
                                        </svg>
                                        {% if ag.localite is not null %}
                                            {{ ag.localite.departement.nom }} - {{ ag.localite.nom }}
                                        {% else %}
                                            <span class="text-danger">-</span>
                                        {% endif %}
                                    </div>
                                    <p class="ms-2 fs-7">
                                        {% if ag.typeconstruction is not null %}
                                            [<span class="text-dark fw-bold">{{ ag.typeconstruction.nom }}]</span>
                                            {# {{ ag.adresse | length < 15 ? ag.adresse : ag.adresse|slice(0, 12) ~ '...' }} #}
                                        {% else %}
                                            <span class="text-danger">-</span>
                                        {% endif %}
                                    </p>
                                    {% if ag.demandeCourante %}
                                        <div class="mt-2 pt-2 border-top border-secondary text-dark">
                                            <div class="row">
                                                <div class="col-5">
                                                    <svg class="bi pt" width="20" height="20" fill="orange">
                                                        <use xlink:href="{{ asset('assets/img/bootstrap-icons.svg#lightning-charge') }}"></use>
                                                    </svg>
                                                    {{ ag.demandeCourante.puissance }} kW
                                                </div>
                                                <div class="col-7">
                                                    <svg class="bi pt" width="20" height="20" fill="blue">
                                                        <use xlink:href="{{ asset('assets/img/bootstrap-icons.svg#cash') }}"></use>
                                                    </svg>
                                                    {{ ag.demandeCourante.cout|number_format(0, ',', ' ') }} FCFA
                                                </div>
                                            </div>
                                        </div>
                                    {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>

                {% do les_installation.setPageRange(1)%}
                {{ knp_pagination_render(les_installation, 'pagination.html.twig')}}

            {% endif %}
        </div>
    </section>
