    <section class="">
        <div class="row">
            <div class="card">
                <div class="d-flex align-items-center justify-content-between">
                    <div>
                        <h4 class="fw-bold">Toutes les Demandes</h4>
                        <select name="val_affichage_demande" id="val_affichage_demande" class="bg-warning bg-opacity-50 form-select-sm">
                            <option {% if affichage == 'listing' %} selected="selected" {% endif %} value="listing">Affichage en Listing</option>
                            <option {% if affichage == 'bloc' %} selected="selected" {% endif %} value="bloc">Affichage en Blocs</option>
                        </select>
                    </div>
                    <div>
                        <div align="right" class="row fs-5 mt-0 pt-0 caption fw-light priority-4" style="height:0px; position:relative; top:4px;">
                            <div class="col-3  fs-6">
                                <select name="val_agence0" id="val_agence0" class="form-select form-select-sm border-warning py-1">
                                    <option value="">Toutes les Agences ...</option>
                                    {% for obj in les_agence %}
                                        <option value="{{obj.id}}" {% if obj.id == val_agence %} selected="selected"{% endif %}>{{obj.nom}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-3 fs-6">
                                <select name="val_usage0" id="val_usage0" class="form-select form-select-sm border-warning py-1">
                                    <option value="">Tous les Usages ...</option>
                                    {% for obj,lib_obj in les_usage %}
                                        <option value="{{obj}}" {% if obj == val_usage %} selected="selected"{% endif %}>{{lib_obj}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-3 fs-6">
                                <select name="val_passage0" id="val_passage0" class="form-select form-select-sm border-warning py-1">
                                    <option value="">Tous les Passages ...</option>
                                    {% for obj,lib_obj in les_passage %}
                                        <option value="{{obj}}" {% if obj == val_passage %} selected="selected"{% endif %}>{{lib_obj}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-3 fs-6">
                                <select name="val_statut0" id="val_statut0" class="form-select form-select-sm border-success py-1">
                                    <option value="">Tous les statuts ...</option>
                                    {% for obj in les_statut %}
                                        <option value="{{obj}}" {% if obj == val_statut %} selected="selected"{% endif %}>{{obj}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <span class="divider">
                    <hr></span>
            <div class="clear"></div>
            <div align="right" class="row fs-5 mt-0 pt-0 caption fw-light priority-4" style="height:0px; z-index:999">
                <div class="offset-9 col-2 fs-6"><input class="py-1 border-dark bg-light mb-1 form-control form-control-sm" type="text" placeholder="Rechercher ..." id="val_rech0" name="val_rech0" value="{% if val_rech is defined %}{{ val_rech }}{% endif %}" /></div>
                <div class="col-1" align="center">
                    {# <a href="{{path('app_installation_pdf1')}}" class="ms-1">
                        <svg class="bi" width="28" height="28" fill="#c32424">
                            <use xlink:href="{{ asset('assets/img/bootstrap-icons.svg#filetype-pdf') }}"></use>
                        </svg>
                    </a> #}
                    <a href="{{path('app_installation_excel')}}" class="ms-1">
                        <svg class="bi" width="28" height="28" fill="green">
                            <use xlink:href="{{ asset('assets/img/bootstrap-icons.svg#filetype-xls') }}"></use>
                        </svg>
                    </a>
                </div>
            </div>
            <div class="clear"></div>
            {% if les_installation|length == 0 %}
                <br />
                <div class="row pt-20">
                    <div class="col-3"></div>
                    <div class="col-6">
                        <div class="alert alert-warning d-flex align-items-center" role="alert">
                            <div>
                                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 24 24">
                                    <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
                                </svg>
                                Aucun enregistrement trouvé !
                            </div>
                        </div>
                    </div>
                </div>
            {% else %}
            <table class="table table-striped table-hover table-sm pt-0 mt-0">
            <caption align="top" class="fs-5 mt-0 pt-0">Liste des Demandes ({{ les_installation.getTotalItemCount }})</caption>
            <thead>
                <tr>
                    <th scope="col">N° demande</th> 
                    <th class="priority-3">Date Demande</th> 
                    <th class="priority-3">Usage</th> 
                    <th class="priority-4">Agence</th>
                    <th class="priority-5">Localité</th>
                    {# <th class="priority-5">Adresse</th> #}
                    <th class="priority-3">Type Construction</th>
                    <th class="priority-4">Electricien</th>
                    <th>Statut demande</th>
                    {# <th scope="col">Agence</th> #}
                    {# <th class="text-center" scope="col">Départements</th>  #}
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {% for ag in les_installation %}
                    {% if ag.step < 7 %}
                        {% set badge_etat = "danger" %}
                    {% endif %}
                    {% if ag.step >= 7 and ag.step <9 %}
                        {% set badge_etat = "warning" %}
                    {% endif %}
                    {% if ag.step >= 9 %}
                        {% set badge_etat = "success" %}
                    {% endif %}
                    <tr>
                        <td scope="row">
                            {% if ag.step>=7 and ag.etat!="Saisie" %}
                                <a href="{{ path('app_installation_show', {'id': ag.id }) }}" class="text-dark text-decoration-none fw-bold">
                                    {{ ag.demandeCourante.numero }}
                                </a>
                            {% else %}
                                <a href="{{ path('app_installation_show', {'id': ag.id }) }}" class="text-dark text-decoration-none fw-bold">
                                    <span>[{{ ag.id|strpad_left(9, '0') }}-{{ ag.createdAt|date("d/m/y") }}]</span>
                                </a>
                            {% endif %}
                        </td>
                        <td class="priority-3">
                            {% if ag.step>=7 and ag.etat!="Saisie" %}
                            <span class="badge text-secondary fs-8">{{ ag.demandeCourante.dateCreation | date("d-m-Y") }}</span>
                            {% else %}
                            <span class="badge text-secondary fs-8">{{ ag.createdAt | date("d-m-Y") }}</span>
                            {% endif %}
                        </td>
                        <td class="priority-3"><a href="{{ path('app_installation_show', {'id': ag.id }) }}" class="text-dark text-decoration-none">
                            {% if ag.usages == "domestique" %}
                                <span class="text-warning fs-8 fw-bold">Domestique</span>
                            {% elseif ag.usages == "non_domestique" %}
                                <span class="text-primary fs-8 fw-bold">Professionnel</span>
                            {% elseif ag.usages == "erp_ert" %}
                                <span class="text-primary fs-8 fw-bold">ERP - ERT</span>
                            {% endif %}
                        </a></td>
                        <td class="priority-4">
                            {% if ag.localite is not null and ag.localite.agence is not null %}
                                {{ ag.localite.agence.nom }}
                            {% else %}
                                <span class="text-danger">-</span>
                            {% endif %}
                        </td>
                        <td class="priority-5">
                            {% if ag.localite is not null %}
                                {{ ag.localite.nom }}
                            {% else %}
                                <span class="text-danger">-</span>
                            {% endif %}
                        </td>
                        {# <td class="priority-5">{{ ag.adresse }}</td> #}
                        <td class="priority-3">
                            {% if ag.typeconstruction is not null %}
                                {{ ag.typeconstruction.nom }}
                            {% else %}
                                <span class="text-danger">-</span>
                            {% endif %}
                        </td>
                        <td class="priority-4">
                            {% if ag.electricien is not null %}
                                {{ ag.electricien.nom ~ " " ~ ag.electricien.prenom }}
                            {% else %}
                                <span class="text-danger">-</span>
                            {% endif %}
                        </td>
                        <td>
                            <a  href="{{ path('app_installation_show', {'id': ag.id }) }}">
                                {# {% if ag.step>=7 %}
                                    <span class="badge badge-{{ badge_etat }} fs-8">{{ ag.demandeCourante.etat }}</span>
                                {% else %}
                                    <span class="badge badge-{{ badge_etat }} fs-8">{{ ag.etat }}</span>
                                {% endif %} #}

                                {% set label_etat = "warning" %}
                                {% set etat = "Soumis" %}
                                {% set demande = ag.demandeCourante %} 
                                {% if demande and ag.etat!="Saisie" %}
                                    {% set paiement = demande.paiement %} 
                                    {% set dossier = demande.dossier %} 
                                    {% if paiement %}
                                        {% set etat = 'Paiement enregistré' %}
                                        {% if paiement.paiementEffectue %}
                                            {% set etat = 'Paiement validé' %}
                                            {% if paiement.etatRembousement %}
                                                {% set etat = 'Paiement validé - Remboursé' %}
                                            {% endif %}
                                        {% endif %}
                                        {% set label_etat = 'warning' %} 
                                    {% endif %}
                                    {% if dossier %}
                                        {% set link = 'app_dossier_showpop' %}
                                        {% set id_ent = dossier.id %}
                                        {% set etat = dossier.etat %}
                                        {% if not dossier.attestation %}
                                            {% set etat = 'En attente ' ~ dossier.etat %}
                                        {% endif %}
                                        {% set label_etat = 'success' %} 

                                        {% if dossier.attestation %}
                                            {% if dossier.visiteCourante and dossier.visiteCourante.conclusion %}
                                                {% set label_etat = " bg-vertf bg-success p-1" %}
                                            {% else %}
                                                {% set label_etat = " bg-danger p-1" %}
                                            {% endif %}
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                                
                                {# {% if ag.demandeCourante and ag.demandeCourante.rejet %}
                                    <span class="text-light badge bg-danger fs-8 me-0">Soumission Rejetée</span>
                                {% else %}
                                    {% if not demande or ag.step<7 %}
                                        {% set etat = ag.etat %}
                                        {% set label_etat = " text-danger p-1" %}
                                    {% endif %}
                                    <span class="fs-8 badge badge-{{label_etat}}">{{etat}}</span>
                                {% endif %}                                 #}

                                {% if ag.demandeCourante and ag.demandeCourante.rejet %}
                                    <span class="text-light badge bg-danger fs-8 me-0">Soumission Rejetée</span>
                                {% else %}
                                    {% if ag.step>=7 and ag.etat != "Saisie" %}
                                        {% if ag.demandeCourante and not ag.demandeCourante.dossier %}
                                            {% set etat = ag.demandeCourante.etat %}
                                        {% endif %}
                                        {% if ag.demandeCourante and ag.demandeCourante.dossier %}
                                            {% set etat = ag.demandeCourante.dossier.etat %}
                                            {% if ag.demandeCourante.dossier.cloture == 0 %}
                                                {% set etat = "Attente " ~ ag.demandeCourante.dossier.etat %}
                                            {% endif %}
                                            {% if ag.demandeCourante.dossier.cloture %}
                                                {% if ag.demandeCourante.dossier.conforme %}
                                                    {% set badge_etat = " bg-success" %}
                                                {% else %}
                                                    {% set badge_etat = " bg-danger bg-opacity-25 text-red" %}
                                                {% endif %}
                                            {% endif %}
                                        {% endif %}
                                    {% else %}
                                        {% set etat = ag.etat %}
                                    {% endif %}
                                    {% if etat == "Accepté" %} {% set etat = "Attente Paiement" %}{% endif %}
                                    {% if etat == "Soumis" %} {% set etat = "Soumis, Attente validation" %}{% endif %}
                                    <span class="badge badge-{{ badge_etat }} fs-8">{{ etat }}</span>
                                {% endif %}

                            </a>
                        </td>
                        {# <td>{{ ag.agence }}</td> #}
                        {# <td class="text-center">
                            {% if reg.departement.count >0 %}
                                <span class="badge bg-success text-light rounded-pill fw-normal">{{ reg.departement.count }}</span>
                            {% else %}
                                <code class="text-danger text-opacity-50">Aucun département</code>
                            {% endif %}
                        </td> #}
                        <td class="text-end">
                            {% if ag.step>7 and (ag.demandeCourante and ag.demandeCourante.paiement ) %} 
                                {% if ag.demandeCourante.dossier %}
                                    <a href="{{ path('app_dossier_show', {'id': ag.demandeCourante.dossier.id }) }}" class="mx-1" title="Afficher les détails">
                                        <svg class="bi" width="16" height="16" fill="black">
                                            <use xlink:href="{{ asset('assets/img/bootstrap-icons.svg#search') }}"></use>
                                        </svg>
                                    </a>
                                {% else %}
                                    <a href="{{ path('app_paiement_show', {'id': ag.demandeCourante.paiement.id }) }}" class="mx-1" title="Afficher les détails">
                                        <svg class="bi" width="16" height="16" fill="black">
                                            <use xlink:href="{{ asset('assets/img/bootstrap-icons.svg#search') }}"></use>
                                        </svg>
                                    </a>
                                {% endif %}
                            {% else %}
                                <a href="{{ path('app_installation_show', {'id': ag.id }) }}" class="mx-1" title="Afficher les détails">
                                    <svg class="bi" width="16" height="16" fill="black">
                                        <use xlink:href="{{ asset('assets/img/bootstrap-icons.svg#search') }}"></use>
                                    </svg>
                                </a>
                            {% endif %}
                            {# <a href="" class="mx-1" title="Supprimer">
                                <svg class="bi" width="16" height="16" fill="red">
                                    <use xlink:href="{{ asset('assets/img/bootstrap-icons.svg#trash') }}"></use>
                                </svg>
                            </a> #}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
            </table>

                {% do les_installation.setPageRange(1)%}
                {{ knp_pagination_render(les_installation, 'pagination.html.twig')}}

            {% endif %}
        </div>
    </section>
