{% extends 'base.html.twig' %}

{% block title %}COSSUEL{% endblock %}
{% block body %}
    <section class="">
        <header class="hstack pb-2 mb-2 border-bottom">
            <a href="" class="align-items-center text-dark text-decoration-none">
                <span class="fs-4">Soumission de demandes </span>
            </a>
        </header>
        <div class="row">
        {% set offset="offset-md-1" %}            
            <div class="{{ offset }} col-lg-10 mb-2  p-3">

                <div class="">
                    <nav class="navbar shadow bg-warning border border-dark my-2 mb-2 p-0">
                        <div class="container-fluid ps-4">
                            <div class="navbar-brand mb-0 fs-4 fw-400 row col">
                                <div class="col">
                                    <svg class="bi" width="24" height="24" fill="black">
                                        <use xlink:href="{{ asset('assets/img/bootstrap-icons.svg#lightbulb') }}"></use>
                                    </svg>
                                    Saisie Nouvelle demande
                                </div>
                                <div class="col" align="right">
                                        <span class="text-danger">[Etape 3 sur 6]</span>
                                </div>
                            </div>
                        </div>
                    </nav>
                    <div class="">
                        {{ form_start(installationForm, {'attr': {'id': 'formInstall'}}) }}
                            <div class="row">
                                <!-- progressbar -->
                                {% set curr_etat = 3 %}
                                {{ include('installation/_progress_bar.html.twig') }}

                            	<fieldset>
                                <div class="card">
                                    <h2 class="fs-title">Caractéristiques de l'installation</h2>
                                    <div class="row">
                                        <hr class="mb-3" />
                                        <div class="col-lg-6">
                                        {{ form_row(installationForm.typeInstallation) }}
                                        </div>
                                        <hr class="my-3" />
                                        <div class="col-lg-6">
                                        {{ form_row(installationForm.natureTravaux) }}
                                        </div>
                                        <div class="col-lg-6 natureTravaux1">
                                            <span>Indiquer le nombre de circuits *</span>
                                            <div class="row">
                                                <div class="col-4 py-1"><span class="fw-light">TABLEAU A</span></div>
                                                <div class="col-4 bg-secondary bg-opacity-25 border py-1"><span class="fw-light">NEUFS</span></div>
                                                <div class="col-4 bg-secondary bg-opacity-25 border py-1"><span class="fw-light">EXISTANTS</span></div>
                                            </div>
                                            <div class="row">
                                                <div class="col-4 bg-secondary bg-opacity-25 border py-1"><span class="fw-light">1,5 mm2</span></div>
                                                <div class="col-4 border">{{ form_widget(installationForm.neuf15) }}</div>
                                                <div class="col-4 border">{{ form_widget(installationForm.existant15) }}</div>
                                            </div>
                                            <div class="row">
                                                <div class="col-4 bg-secondary bg-opacity-25 border py-1"><span class="fw-light">2,5 mm2</span></div>
                                                <div class="col-4 border">{{ form_widget(installationForm.neuf25) }}</div>
                                                <div class="col-4 border">{{ form_widget(installationForm.existant25) }}</div>
                                            </div>
                                            <div class="row">
                                                <div class="col-4 border bg-secondary bg-opacity-25"><span class="fw-light">Autres</span></div>
                                                <div class="col-4 border">{{ form_widget(installationForm.neufAutre) }}</div>
                                                <div class="col-4 border">{{ form_widget(installationForm.existantAutre) }}</div>
                                            </div>
                                        </div>
                                        <hr class="my-3" />
                                        <div class="col-lg-4">
                                            {{ form_row(installationForm.intervenantAutre) }}
                                        </div>
                                        <div class="col-lg-8 intervenantAutre1">
                                            {{ form_row(installationForm.intervenant) }}
                                        </div>
                                    </div>
                                </div>
                                {% include "installation/_actions_new.html.twig" %}
                                </fieldset>
                            </div>
                            {# <div align="center">
                                <a class="previous btn btn-secondary" href="{{ path('app_installation_index') }}">Annuler</a>
                                <button type="button" class="next action-button btn btn-primary btn my-3">Enregistrer</button>
                            </div> #}
                        {{ form_end(installationForm) }}            
                        {% include "installation/_delete_form.html.twig" %}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block javascripts %}
<script>
    $(document).ready(function () {
        $('.intervenantAutre1').hide(); $("#form_intervenant").prop('required',false); $('.natureTravaux1').hide();
        $(".nt1").prop('required',false);
        $("#form_typeInstallation").prop('required',true);
        $("#form_natureTravaux").prop('required',true);
        optSel=$('input[type=radio][name="form[intervenantAutre]"]:checked');
        valSel=optSel.val();
        if (valSel==1) {
            $('.intervenantAutre1').show(); $("#form_intervenant").prop('required',true);
        }
        $('input[type=radio][name="form[intervenantAutre]"]').change(function() {
            $('.intervenantAutre1').hide(); $("#form_intervenant").prop('required',false);
            optSel=$('input[type=radio][name="form[intervenantAutre]"]:checked');
            valSel=optSel.val();
            if (valSel==1) {
                $('.intervenantAutre1').show(); $("#form_intervenant").prop('required',true);
            }
        });

        optSel=$('select[name="form[natureTravaux]"]').find("option:selected");
        valSel=optSel.text();
        if (valSel == "Rénovation Partielle") {
            $('.natureTravaux1').show(); $(".nt1").prop('required',true);
            $(".nt1").keydown(function(e) {
                val_num=$(this).val().replace(/ /g,'').length;
                var value = String.fromCharCode(e.keyCode); //get the charcode and convert to char
                var test0 = /[\b]/; //regex
                var test = /[0-9\b]/; //regex
                if (!value.match(test)) { 
                    return false; //dont display key if it is a number
                }    

            });

        }
        $('select[name="form[natureTravaux]"]').on('change', function() {
            $('.natureTravaux1').hide(); $(".nt1").prop('required',false);
            optSel=$('select[name="form[natureTravaux]"]').find("option:selected");
            valSel=optSel.text();
            if (valSel == "Rénovation Partielle") {
                $('.natureTravaux1').show(); 
                $(".nt1").prop('required',true);
                $(".nt1").keydown(function(e) {
                    val_num=$(this).val().replace(/ /g,'').length;
                    var value = String.fromCharCode(e.keyCode); //get the charcode and convert to char
                    var test0 = /[\b]/; //regex
                    var test = /[0-9\b]/; //regex
                    if (!value.match(test)) { 
                        return false; //dont display key if it is a number
                    }    

                });
            }
        });
    });
</script>

{% endblock %}