{% extends 'base.html.twig' %}

{% block title %}COSSUEL{% endblock %}
{% block body %}
    <style>
    #synthese_demande input[disabled] {
        background-color:#fff7e3;
        border: 1px solid #7a7b7c;
        color: black;
        font-weight:500;
    }
    </style>
    {% set action_demande = "Soumission" %}
    {% set link_liste = 'app_installation_index' %}
    {% if (installation.step < 7) %}
        {% set action_demande = "Soumission" %}
        {% set link_liste = 'app_installation_index' %}
    {% elseif (installation.step == 7 or installation.step == 8) %}
        {% set action_demande = "Paiement" %}
        {% set link_liste = 'app_installation_index2' %}
    {% elseif (installation.step == 9) %}
        {% set action_demande = "Validation" %}
        {% set link_liste = 'app_installation_index3' %}
    {% endif %}

    {% if app.session.get('page_liste_demande') is defined and app.session.get('page_liste_demande') %}
        {% set link_liste = app.session.get('page_liste_demande') %}
    {% endif %}

    <section class="">
        <header class="hstack pb-2 mb-2 border-bottom">
            <a href="" class="align-items-center text-dark text-decoration-none">
                <span class="fs-4">{{ action_demande }} de demandes </span>
            </a>
        </header>
        <div class="row">
        {% set offset="offset-md-1" %}            
        {% set badge_etat = "text-danger" %}
        {% if installation.step == 7 %}
            {% set badge_etat = "text-danger" %}
        {% elseif installation.step > 7 %}
            {% set badge_etat = "text-success" %}
        {% endif %}
            <div class="{{ offset }} col-lg-10 mb-2  p-3">

                <div class="">
                    <nav class="navbar shadow bg-warning border border-dark my-2 mb-2 p-0">
                        <div class="container-fluid ps-4">
                            <div class="navbar-brand mb-0 fs-4 fw-400 row col">
                                <div class="col">
                                    <svg class="bi" width="24" height="24" fill="black">
                                        <use xlink:href="{{ asset('assets/img/bootstrap-icons.svg#lightbulb') }}"></use>
                                    </svg>
                                    Détails de la demande 
                                </div>
                                <div class="col" align="right">
                                    {% if installation.step>=7 %}
                                        <span class="{{ badge_etat }}">[{{ installation.demandeCourante.etat }}]</span>
                                    {% else %}
                                        <span class="{{ badge_etat }}">[{{ installation.etat }}]</span>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </nav>
                    <div class="">
                            <div class="row">
                            	<fieldset id="synthese_demande">
                                    {% if tools.getUtilisateur(installation.createdBy) %}
                                        {% set creator = tools.getUtilisateur(installation.createdBy) %}
                                        <div align="left" class="float-start border border-warning shadow p-2 fs-8 fw-light">
                                            <div><label class="text-warning">Créée par:</label> <span class="">{{creator.nomComplet}}</span></div>
                                            <div><label class="text-warning">Créée le:</label> <span class="">{{installation.createdAt|date("d-m-Y à H:i:s")}}</span></div>
                                        </div>
                                    {% endif %}
                                    <div align="right">
                                        {% if installation.step<7 %}
                                            {% set link_edit = 'app_installation_add' %}
                                            {% if installation.step > 1 %}
                                                {% set link_edit = 'app_installation_add' ~ installation.step %}
                                            {% endif %}
                                            {% if is_granted('ROLE_PUBLIC') or is_granted('ROLE_RFO') %}
                                                {% if tools.gdroit_de(app.user.id, 'installation', installation.id ) %}
                                                <a href="{{ path(link_edit, {'id': installation.id}) }}" class="next action-button btn btn-success btn my-3">Finaliser la saisie</a>
                                                {% endif %}
                                            {% endif %}
                                        {% else %}
                                            <a target="_blank" href="{{ path('app_installation_showpdf', {'id': installation.id}) }}" class="next action-button btn btn-outline-warning btn my-2">PDF Demande</a>
                                            {% if installation.step>=7 and installation.demandeCourante.accepte and (is_granted('ROLE_ACCUEIL') or  is_granted('ROLE_RFO') or is_granted('ROLE_CAISSIER') or  is_granted('ROLE_COMPTABLE') or  is_granted('ROLE_DAF')) %}
                                                <a target="_blank" href="{{ path('app_installation_facturepdf', {'id': installation.demandeCourante.installation.id}) }}" class="next action-button btn btn-outline-warning btn my-3">PDF Facture</a>
                                            {% endif %}
                                            {% if installation.step==7 and not installation.demandeCourante.accepte and not installation.demandeCourante.rejet and (is_granted('ROLE_RFO')) %}
                                                <a href="{{ path('app_installation_accepte0', {'id': installation.demandeCourante.id}) }}" class="next action-button btn btn-danger btn my-2 ms-5">Rejeter Demande soumise</a>
                                                <a href="{{ path('app_installation_accepte1', {'id': installation.demandeCourante.id}) }}" class="next action-button btn btn-success btn my-2 ms-2">Valider Demande soumise</a>
                                                {# {% elseif installation.step==8 %}
                                                <a href="{{ path('app_paiement_add2', {'id': installation.demandeCourante.id}) }}" class="next action-button btn btn-success btn my-3 ms-5">Confirmer Paiement</a>
                                                {% elseif installation.step==9 %}
                                                <a href="#" class="next action-button btn btn-success btn my-3 ms-5">Valider la demande</a> #}
                                            {% endif %}
                                            {% if installation.step==7 and installation.demandeCourante.accepte and (is_granted('ROLE_CAISSIER') or is_granted("ROLE_COMPTABLE")) %}
                                                <a href="{{ path('app_paiement_add', {'id': installation.demandeCourante.id}) }}" class="next action-button btn btn-success btn my-2 ms-5">Enregistrer Paiement</a>
                                                {# {% elseif installation.step==8 %}
                                                <a href="{{ path('app_paiement_add2', {'id': installation.demandeCourante.id}) }}" class="next action-button btn btn-success btn my-3 ms-5">Confirmer Paiement</a>
                                                {% elseif installation.step==9 %}
                                                <a href="#" class="next action-button btn btn-success btn my-3 ms-5">Valider la demande</a> #}
                                            {% endif %}
                                        {% endif %}
                                        <a href="{{ path(link_liste) }}" class="next action-button btn btn-outline-secondary btn my-3">Retour à la liste</a>
                                    </div>                                
                                {% if installation.demandeCourante %}
                                    {% if installation.demandeCourante.rejet %}
                                        <div class="alert alert-danger py-2 fs-6"><span class="text-danger">Demande rejetée:  </span> <span class="fs-7">{{installation.demandeCourante.motifRejet}}</span></div>
                                    {% endif %}
                                    <div class="card mb-2">
                                        <h2 class="fs-title">Puissance demandée et tarif {% if installation.demandecourante and installation.demandecourante.numeroPassage==2 %} <span class="badge bg-danger">2e VISITE</span> {% endif %}
                                            {% if installation.step>=7 and installation.demandeCourante.numeroPassage==1 and (is_granted('ROLE_ACCUEIL') or is_granted('ROLE_RFO')) %}
                                                <a href="{{ path('app_installation_clone', {'id': installation.id}) }}" class="next action-button btn btn-warning py-0 border-dark btn ms-5 float-end">
                                                <svg class="bi" width="16" height="16" fill="black">
                                                    <use xlink:href="{{ asset('assets/img/bootstrap-icons.svg#files') }}"></use>
                                                </svg>
                                                Cloner la Demande</a>
                                            {% endif %}
                                        </h2>
                                        <div class="row">
                                            <hr class="mb-3" />
                                            <div class="col-lg-3">
                                                <label >Numéro Demande</label>
                                                <input type="text" disabled readonly class="form-control form-control-sm py-1 fw-bold fs-6" value="{{ installation.demandeCourante.numero }}">
                                            </div>
                                            <div class="col-lg-3">
                                                <label >Date Demande</label>
                                                <input type="text" disabled readonly class="form-control form-control-sm py-1 fw-bold fs-6" value="{{ installation.demandeCourante.dateCreation | date('d-m-Y') }}">
                                            </div>
                                            <div class="col-lg-3">
                                                <label >Puissance demandée</label>
                                                <input type="text" disabled readonly class="form-control form-control-sm py-1 fw-bold fs-6" value="{{ installation.demandeCourante.puissance }} kW">
                                            </div>
                                            <div class="col-lg-3">
                                                <label >Cout de la demande</label>
                                                <input type="text" disabled readonly class="form-control form-control-sm py-1 fw-bold fs-6" value="{{ installation.demandeCourante.cout }} FCFA">
                                            </div>
                                        </div>  
                                    </div>
                                {% endif %}
                                {# BLOC 1 #}
                                <div class="card mb-2">
                                    <h2 class="fs-title">Données de base de la demande</h2>
                                    <div class="row">
                                        <hr class="mb-3" />
                                        <div class="col-lg-8">
                                            <label for="form_usage" >Usage Installation</label>
                                            <input type="text" disabled readonly class="form-control form-control-sm py-1" value="{{ installation.usages }}" id="form_usage">
                                        </div>
                                        <div class="col-lg-4">
                                            <label for="form_alimente" >Installation déja alimentée ?</label>
                                            <input type="text" disabled readonly class="form-control form-control-sm py-1" value="{% if installation.alimente %}Oui{% else %}Non{% endif %}" id="form_alimente">
                                        </div>
                                        <div class="col-lg-4 alimente1">
                                            <label for="form_compteur" >Numéro Compteur</label>
                                            <input type="text" disabled readonly class="form-control form-control-sm py-1" value="{{ installation.compteur }}" id="form_compteur">
                                        </div>
                                        <div class="col-lg-4 alimente1">
                                            <label for="form_abonnement" >Numéro Abonnement</label>
                                            <input type="text" disabled readonly class="form-control form-control-sm py-1" value="{{ installation.abonnement }}" id="form_abonnement">
                                        </div>
                                        <div class="col-lg-4 alimente1">
                                            <label for="form_grstReseau" >Gestionnaire Réseau</label>
                                            <input type="text" disabled readonly class="form-control form-control-sm py-1" value="{{ installation.grstReseau }}" id="form_grstReseau">
                                        </div>
                                        <hr class="my-3" />
                                        <div class="col-lg-4">
                                            <label for="form_localite" >Localité</label>
                                            <input type="text" disabled readonly class="form-control form-control-sm py-1" value="{{ installation.localite }}" id="form_localite">
                                        </div>
                                        <div class="col-lg-8">
                                            <label for="form_adresse" >Adresse</label>
                                            <input type="text" disabled readonly class="form-control form-control-sm py-1" value="{{ installation.adresse }}" id="form_adresse">
                                        </div>
                                        <div class="col-lg-8">
                                            <label for="form_habitation" >Complément Adresse</label>
                                            <input type="text" disabled readonly class="form-control form-control-sm py-1" value="{{ installation.habitation }}" id="form_habitation">
                                        </div>
                                        <div class="col-lg-2">
                                            <label for="form_lattitude" >Latitude</label>
                                            <input type="text" disabled readonly class="form-control form-control-sm py-1" value="{{ installation.lattitude }}" id="form_lattitude">
                                        </div>
                                        <div class="col-lg-2">
                                            <label for="form_longitude" >Longitude</label>
                                            <input type="text" disabled readonly class="form-control form-control-sm py-1" value="{{ installation.longitude }}" id="form_longitude">
                                        </div>
                                    </div>
                                </div>
                                
                                {# BLOC 2 #}
                                {% if installation.typeConstruction %}
                                <div class="card mb-2">
                                    <h2 class="fs-title">Caractéristiques du site</h2>
                                    <div class="row">
                                        <hr class="mb-3" />
                                        <div class="col-lg-4">
                                            <label for="form_collectif collectif1" >Bien Collectif ?</label>
                                            <input type="text" disabled readonly class="form-control form-control-sm py-1" value="{% if installation.collectif %}Oui{% else %}Non{% endif %}" id="form_collectif">
                                        </div>
                                        <div class="col-lg-4 collectif1">
                                            <label for="form_nomSite" >Nom du site</label>
                                            <input type="text" disabled readonly class="form-control form-control-sm py-1" value="{{ installation.nomSite }}" id="form_nomSite">
                                        </div>
                                        <div class="col-lg-4 collectif1">
                                            <label for="form_logement" >Nombre de logements</label>
                                            <input type="text" disabled readonly class="form-control form-control-sm py-1" value="{{ installation.logement }}" id="form_logement">
                                        </div>
                                        <hr class="my-3" />
                                        <div class="col-lg-6">
                                            <label for="form_typeConstruction" >Type de construction</label>
                                            <input type="text" disabled readonly class="form-control form-control-sm py-1" value="{{ installation.typeConstruction.nom }}" id="form_typeConstruction">
                                        </div>
                                        <div class="col-lg-3 typeConstruction1">
                                            <label for="form_niveau" >Nombre de niveaux</label>
                                            <input type="text" disabled readonly class="form-control form-control-sm py-1" value="{{ installation.niveau }}" id="form_niveau">
                                        </div>
                                        <div class="col-lg-6 typeConstruction3">
                                            <label for="form_activite" >Activités</label>
                                            <input type="text" disabled readonly class="form-control form-control-sm py-1" value="{{ installation.activite }}" id="form_activite">
                                        </div>
                                        <div class="col-lg-3 typeConstruction1 typeConstruction2">
                                            <label for="form_priece" >Nombre de pièces</label>
                                            <input type="text" disabled readonly class="form-control form-control-sm py-1" value="{{ installation.priece }}" id="form_priece">
                                        </div>
                                    </div>
                                </div>
                                {% endif %}

                                {# BLOC 3 #}
                                {% if installation.natureTravaux %}
                                <div class="card mb-2">
                                    <h2 class="fs-title">Caractéristiques de l'installation</h2>
                                    <div class="row">
                                        <hr class="mb-3" />
                                        <div class="col-lg-6">
                                            <label for="form_natureTravaux" >Nature des travaux</label>
                                            <input type="text" disabled readonly class="form-control form-control-sm py-1" value="{{ installation.natureTravaux }}" id="form_natureTravaux">
                                        </div>
                                        <div class="col-lg-2 natureTravaux1">
                                            <label for="form_neuf15" >Neufs_15</label>
                                            <input type="text" disabled readonly class="form-control form-control-sm py-1" value="{{ installation.neuf15 }}" id="form_neufs_15">
                                            <label for="form_existant15" >Existants_15</label>
                                            <input type="text" disabled readonly class="form-control form-control-sm py-1" value="{{ installation.existant15 }}" id="form_existant15">
                                        </div>
                                        <div class="col-lg-2 natureTravaux1">
                                            <label for="form_neuf25" >Neufs_25</label>
                                            <input type="text" disabled readonly class="form-control form-control-sm py-1" value="{{ installation.neuf25 }}" id="form_neuf25">
                                            <label for="form_existant25" >Existants_25</label>
                                            <input type="text" disabled readonly class="form-control form-control-sm py-1" value="{{ installation.existant25 }}" id="form_existant25">
                                        </div>
                                        <div class="col-lg-2 natureTravaux1">
                                            <label for="form_neufAutre" >Neufs_Autres</label>
                                            <input type="text" disabled readonly class="form-control form-control-sm py-1" value="{{ installation.neufAutre }}" id="form_neufAutre">
                                            <label for="form_existantAutre" >Existants_Autres</label>
                                            <input type="text" disabled readonly class="form-control form-control-sm py-1" value="{{ installation.existantAutre }}" id="form_existantAutre">
                                        </div>
                                        <hr class="my-3" />
                                        <div class="col-lg-4 intervenantAutre1">
                                            <label for="form_intervenantAutre" >Autres intervenants ?</label>
                                            <input type="text" disabled readonly class="form-control form-control-sm py-1" value="{{ installation.intervenantAutre }}" id="form_intervenantAutre">
                                        </div>
                                        <div class="col-lg-8 intervenantAutre1">
                                            <label for="form_intervenant" >Intervenants</label>
                                            <input type="text" disabled readonly class="form-control form-control-sm py-1" value="{{ installation.intervenant }}" id="form_intervenant">
                                        </div>
                                    </div>
                                </div>
                                {% endif %}

                                {# BLOC 4 #}
                                {% if installation.electricien %}
                                <div class="card mb-2">
                                    <h2 class="fs-title">Informations sur l'électricien</h2>
                                    <div class="row">
                                        <hr class="mb-3" />
                                        <div class="col-lg-3">
                                            <label >Nom</label>
                                            <input type="text" disabled readonly class="form-control form-control-sm py-1" value="{{ installation.electricien.nom }}">
                                        </div>
                                        <div class="col-lg-5">
                                            <label >Prénom</label>
                                            <input type="text" disabled readonly class="form-control form-control-sm py-1" value="{{ installation.electricien.prenom }}">
                                        </div>
                                        <div class="col-lg-4">
                                            <label >Localité</label>
                                            <input type="text" disabled readonly class="form-control form-control-sm py-1" value="{{ installation.electricien.localite }}">
                                        </div>
                                        <div class="col-lg-8">
                                            <label >Adresse</label>
                                            <input type="text" disabled readonly class="form-control form-control-sm py-1" value="{{ installation.electricien.adresse }}">
                                        </div>
                                        <div class="col-lg-4">
                                            <label >Téléphone</label>
                                            <input type="text" disabled readonly class="form-control form-control-sm py-1" value="{{ installation.electricien.telephone }}">
                                        </div>
                                        <div class="col-lg-4">
                                            <label >Email</label>
                                            <input type="text" disabled readonly class="form-control form-control-sm py-1" value="{{ installation.electricien.email }}">
                                        </div>
                                        <div class="col-lg-4">
                                            <label >Type de pièce</label>
                                            <input type="text" disabled readonly class="form-control form-control-sm py-1" value="{{ installation.electricien.typePiece }}">
                                        </div>
                                        <div class="col-lg-4">
                                            <label >Numéro Pièce</label>
                                            <input type="text" disabled readonly class="form-control form-control-sm py-1" value="{{ installation.electricien.numPiece }}">
                                        </div>

                                        <div class="col-lg-4 mt-2">
                                        <label >Scan CNI Electricien</label><br />
                                        {% if installation.PJElectricien %}
                                                <svg class="bi" width="24" height="24" fill="gray">
                                                    <use xlink:href="{{ asset('assets/img/bootstrap-icons.svg#file-pdf') }}"></use>
                                                </svg>
                                                <span onclick="window.open('{{path('app_installation_downloadpj', {'id': installation.id, 'type':'electricien'})}}')" class="text-success pt fs-7">{{installation.PJElectricien.fichier}} </span>
                                        {% else %}
                                                <span class="text-danger pt fs-8">N/D</span>
                                        {% endif %}
                                        </div>

                                    </div>
                                </div>
                                {% endif %}                                

                                {# BLOC 5 #}
                                {% if installation.proprietaire %}
                                <div class="card mb-2">
                                    <h2 class="fs-title">Informations sur le propriétaire de l'installation</h2>
                                    <div class="row">
                                        <hr class="mb-3" />
                                        <div class="col-lg-3">
                                            <label >Nom</label>
                                            <input type="text" disabled readonly class="form-control form-control-sm py-1" value="{{ installation.proprietaire.nom }}">
                                        </div>
                                        <div class="col-lg-5">
                                            <label >Prénom</label>
                                            <input type="text" disabled readonly class="form-control form-control-sm py-1" value="{{ installation.proprietaire.prenom }}">
                                        </div>
                                        <div class="col-lg-4">
                                            <label >Localité</label>
                                            <input type="text" disabled readonly class="form-control form-control-sm py-1" value="{{ installation.proprietaire.localite }}">
                                        </div>
                                        <div class="col-lg-8">
                                            <label >Adresse</label>
                                            <input type="text" disabled readonly class="form-control form-control-sm py-1" value="{{ installation.proprietaire.adresse }}">
                                        </div>
                                        <div class="col-lg-4">
                                            <label >Téléphone</label>
                                            <input type="text" disabled readonly class="form-control form-control-sm py-1" value="{{ installation.proprietaire.telephone }}">
                                        </div>
                                        <div class="col-lg-4">
                                            <label >Email</label>
                                            <input type="text" disabled readonly class="form-control form-control-sm py-1" value="{{ installation.proprietaire.email }}">
                                        </div>
                                        <div class="col-lg-4">
                                            <label >Type de pièce</label>
                                            <input type="text" disabled readonly class="form-control form-control-sm py-1" value="{{ installation.proprietaire.typePiece }}">
                                        </div>
                                        <div class="col-lg-4">
                                            <label >Numéro Pièce</label>
                                            <input type="text" disabled readonly class="form-control form-control-sm py-1" value="{{ installation.proprietaire.numPiece }}">
                                        </div>

                                        <div class="col-lg-4 mt-2">
                                            <label >Scan CNI Propriétaire</label><br />
                                        {% if installation.PJProprietaire %}
                                                <svg class="bi" width="24" height="24" fill="gray">
                                                    <use xlink:href="{{ asset('assets/img/bootstrap-icons.svg#file-pdf') }}"></use>
                                                </svg>
                                                <span onclick="window.open('{{path('app_installation_downloadpj', {'id': installation.id, 'type':'proprietaire'})}}')" class="text-success pt fs-7">{{installation.PJProprietaire.fichier}} </span>
                                        {% else %}
                                                <span class="text-danger pt fs-8">N/D</span>
                                        {% endif %}
                                        </div>

                                        <div class="col-lg-4 mt-2">
                                        <label >{% if installation.usages!='erp_ert' %}Titre de propriété{% else %}Documents Techniques{% endif %}</label><br />
                                        {% if installation.PJDossierTechnique %}
                                                <svg class="bi" width="24" height="24" fill="gray">
                                                    <use xlink:href="{{ asset('assets/img/bootstrap-icons.svg#file-pdf') }}"></use>
                                                </svg>
                                                <span onclick="window.open('{{path('app_installation_downloadpj', {'id': installation.id, 'type':'dosstech'})}}')" class="text-success pt fs-7">{{installation.PJDossierTechnique.fichier}} </span>
                                        {% else %}
                                                <span class="text-danger pt fs-8">N/D</span>
                                        {% endif %}
                                        </div>

                                    </div>
                                {% endif %}
                                </div>
                                </fieldset>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block javascripts %}
<script>
    $(document).ready(function() {

        // Bloc 1
        $('.alimente0').show(); $('.alimente1').hide();
        optSel=$('#form_alimente'); valSel=optSel.val();
        if (valSel=="Oui") {
            $('.alimente1').show(); $('.alimente0').hide();
        }

        // Bloc 2
        $('.collectif0').show(); $('.collectif1').hide();
        optSel=$('#form_collectif');
        valSel=optSel.val();
        if (valSel=="Oui") {
            $('.collectif1').show(); $('.collectif0').hide();
        }
        $('.typeConstruction1').hide(); $('.typeConstruction2').hide();  $('.typeConstruction3').hide();
        optSel=$('#form_typeConstruction');
        valSel=optSel.val();
        if (valSel == "Maison" || valSel == "IGH (Immeuble de Grande Hauteur)") {
            $('.typeConstruction1').show(); 
        }
        else if (valSel == "Appartement" || valSel == "Foyer Logement" || valSel == "Dépendance") {
            $('.typeConstruction2').show();
        }
        else if (valSel == "Etablissement Public") {
            $('.typeConstruction3').show(); 
        }

        // Bloc 3
        $('.intervenantAutre1').hide(); $('.natureTravaux1').hide();
        optSel=$('#form_intervenantAutre');
        valSel=optSel.val();
        if (valSel=="Oui") {
            $('.intervenantAutre1').show(); 
        }
        optSel=$('#form_natureTravaux');
        valSel=optSel.val();
        if (valSel == "Rénovation Partielle") {
            $('.natureTravaux1').show(); 
        }

        // Bloc 4

        // Bloc 5

    });
</script>
{% endblock %}
